<br>
<br>
<br>
<br>
<div class = "container">
  <div class = "row">
    <div class = "col-xs-12">
      <h2>Sign up</h2>
    </div>
  </div>
  <div class = "row">
    <div class = "col-xs-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :phone_number %><br>
          <i>10 digits without spaces nor dashes - we'll send your texts to this number (standard messaging fees apply)</i><br>
        <%= f.text_field :phone_number %></div>

        <div><%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true %></div>

        <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
          <%= f.password_field :password, autocomplete: "off" %></div>

        <div><%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

        <div><%= f.submit "Sign Up", class: 'btn btn-success btn-sm' %></div>
      <% end %>
    </div>
  </div>
</div>
<br>

